.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

body {
    margin-bottom: 85px;
    background-image: url(../images/connectwork.png);
}

header {
    background: oldlace;
    /* margin: 0;
    padding: 0; */
}

#name {
    float: left;
    margin: 0 145px;
    background: #b2cc14;
}

div {
    
}

section {
    max-width: 960px;
    margin: 0 auto;
    background:oldlace;
}

#myPic {
    float: left;
    padding: 0 20px 20px 0;
}

ul {
    list-style-type: none;
}

.navLink {
    float: left;
    text-decoration: none;
    padding: 0 15px;
    position: relative;
    left: 300px;
    top: 15px;
}

.label {
    background: #757f33;
    float: left;
}

.portpic {
    float: left;
    /* display: inline-block; */
    padding: 20px 20px;
    position: relative;
    top: 30px;

}

/* #picHangman {
    float: left;
}

#picRpg {
    float:left;
} */

#hangman {
    position: absolute;
    top: 100px;
}

#rpg {
    position: absolute;
    top: 200px;
    width: 250px;
    height: 50px;
    text-align: center;
}

.rotate {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #666;
    width: 100%;
    height: 60px;
    text-align: center;
    border-top: 15px solid #b2cc14;
}

#copyright {
    margin-bottom: 0;
}