.clearfix::after {
    clear: both;
    content: "";
    display: block;
}

body {
    margin-bottom: 85px;
    background-image: url(../images/connectwork.png);
    font-family: 'Montserrat Alternates', sans-serif;
}

header {
    background: oldlace;
    /* margin: 0;
    padding: 0; */
}

#name {
    float: left;
    margin: 30px 145px 0 80px;
    padding: 10px;
    background: #b2cc14;
}

.navLink {
    float: left;
    text-decoration: none;
    padding: 0 15px;
    position: relative;
    left: 250px;
    top: 50px;
}

section {
    max-width: 960px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
    background:oldlace;
}

h2 {
    padding-bottom: 15px;
    border-bottom: solid 2px black;
}

#myPic {
    float: left;
    padding: 0 20px 20px 0;
}

.label {
    background: #464d59;
    color: oldlace;
    text-align: center; 
    width: 250px;
    padding: 15px 0;
    font-size: 20px;
    float: left;
}

.portpic {
    float: left;
    /* display: inline-block; */
    padding: 20px 20px;
    margin-left: 20px;
    position: relative;
    top: 30px;

}

.textBlock {
    position: absolute;
    top: 225px;
    width: 250px;
    height: 50px;
}


.rotate {
    -webkit-transform:rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background: #666;
    width: 100%;
    height: 60px;
    text-align: center;
    border-top: 15px solid #b2cc14;
}

#copyright {
    margin-bottom: 0;
}